{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block header %}
<h1 class="display-4">Hello, world! <i class="fas fa-globe-americas"></i></h1>
<p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
{% endblock %}

{% block content %}
<div id="index-content">
    <div class="row pb-4">
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Visualizar Rotas</h5>
                    <p class="card-text">Visualize as informações sobre as rotas existentes.</p>
                    <a href="/buson_app/rotas" class="btn btn-primary">Visualizar Rotas</a>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Novo colaborador</h5>
                    <p class="card-text">Cadastre um novo colaborador e seus dados de endereço para utilizar o sistema.</p>
                    <a href="/buson_app/cadastrar-colaborador" class="btn btn-primary">Cadastrar</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Configurações</h5>
                    <p class="card-text">Configure suas rotas, tempo de viagem e número de passageiros.</p>
                    <a href="/buson_app/configuracoes" class="btn btn-primary">Configurações</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
